<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediBot: The Mental Health Assistance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1>🧠 MediBot</h1>
            <p>AI Assistance for the Mental Health Support</p>
            <h2>Group Member Details</h2>
            <li>Iftikhar Hussain | BAI-20F-021</li>
            <li>Yureedullah | BAI-22S-044</li>
            <li>Shahan | BAI-22S-032</li>
        </div>
    </div>
</body>
</html>